body {
  background: linear-gradient(to right, #f4f4f7, #1cb5e0);
}

.logo {
  height: 40px;
  width: 40px;
}

h1 {
  margin-top: 0;
  justify-content: flex-start;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: min-content;
  margin-top: 0;
  height: 8px;
  width: 8px;
}

#navigation {
  display: flex;
}

#navigation > a {
  text-decoration: none;
  padding: 8px;
}

#navigation:hover {
  color: blue;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

td {
  display: table-cell;
  vertical-align: inherit;
}
